@using Microsoft.EntityFrameworkCore
@model Department
@{
    ViewBag.Title = Model !=null ?"Edit" : "CreateDepartment";
        
}
<h2>@ViewBag.Title </h2> 
<form asp-action=@ViewBag.Title>
    <div asp-validation-summary=All></div>


    
    <label asp-for="DepartmentId" class= "control-label"></label>
    <input asp-for="DepartmentId" readonly class = "form-control" />
 
    <label asp-for="DepartmentName" class= "control-label"></label>
    <input asp-for="DepartmentName" class = "form-control" />
 
    <label asp-for="DepartmentAbbr" class= "control-label"></label>
    <input asp-for="DepartmentAbbr" class = "form-control" />
 
    <input type="submit" value = "Save" class = "btn btn-primary" />
    <a asp-action="Index" class = "btn btn-secondary">Cancel</a>
</form>

